# Git
.git
.gitignore

# Docker
Dockerfile*
docker-compose*
.dockerignore

# Node.js
node_modules
npm-debug.log*

# Angular
lms-angular/dist
lms-angular/.angular

# .NET
**/bin/
**/obj/
**/*.user
**/*.suo
**/*.cache
**/*.log

# IDE
.vs/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Documentation
*.md
!README.md
