# Git
.git
.gitignore

# Docker
Dockerfile*
docker-compose*
.dockerignore

# Node.js
node_modules
npm-debug.log*

# Angular
dist
.angular

# IDE
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Documentation
*.md
!README.md
